node_modules
npm-debug.log
yarn-error.log
yarn.lock
pnpm-lock.yaml

dist
build

.env
.env.*
*.pem
*.key

.git
.gitignore

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Dockerfile
docker-compose.yml
.dockerignore

prisma/*.db
prisma/*.db-journal